.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
}

button{
  background-color:transparent;
  color: yellow;
  margin: 5px;
  display: flex;
  margin: 0 auto;
  border: 2px solid white;
}
button:hover{
  background-color:yellow;
  color: black;
}

#btn{
  background-color: transparent;
  color: red;
  margin-top: 5px;
}

#btn:hover{
  background-color:red;
  color: white;
}